/* ----homepage---- */

.home {
    height: 100vh;
    width: 100vw;
    color: black;
    overflow: hidden;
}

.home h2 span {
    color: yellow;
    overflow: hidden;
}

.home a {
    text-decoration: none;
    overflow: hidden;
}

.home .signed-in .h1 {
    color: black;
}


/* ----dark-mode---- */

.dark-home {
    background-color: #0a0908;
    color: white;
    overflow: hidden;
}