/* ----homepage---- */

.home {
    --light-color: #f3f4f5;
    --dark-color: #222;
    --dark-background-color: #0a0809;
}

.home {
    height: calc(100vh - 50px);
    width: 100vw;
    color: black;
    overflow: hidden;
}

.home .not-signed-in h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.home .not-signed-in h3 {
    font-size: 1rem;
    margin-left: 1rem;
}

.home .not-signed-in h3 a {
    font-size: 1.2rem;
    color: #1d3557;
    background-color: #fbfcfa;
    text-decoration: none;
}

.home .not-signed-in h3 a:hover {
    text-decoration: underline;
}

.home .signup {
    margin: 0px 3px;
}

.home .signed-in h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.home .signed-in p {
    margin-left: 1rem;
}


/* ----dark-mode---- */

.dark-home {
    background-color: var(--dark-background-color);
    color: white;
    overflow: hidden;
}

.dark-home .not-signed-in {
    background-color: var(--dark-background-color);
}

.dark-home .not-signed-in>* {
    background-color: var(--dark-background-color);
}

.dark-home .not-signed-in h3 a {
    background-color: var(--dark-background-color);
    color: rgba(0, 0, 255, 0.677);
}

.dark-home .signed-in {
    background-color: var(--dark-background-color);
    color: #fbfcfa;
}

.dark-home .signed-in h1 {
    background-color: var(--dark-background-color);
}

.dark-home .signed-in p {
    background-color: var(--dark-background-color);
}