/* ----sigiin---- */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.signin {
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.signin .form-container {
    width: 400px;
    height: 220px;
    display: flex;
    flex-flow: column wrap;
    /*  */
    border-radius: 0.5rem;
    border: 2px solid black;
}

.signin form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: auto;
    width: 100%;
    height: 100%;
    align-items: center;
}

.signin form label {
    color: black;
    font-weight: 700;
    margin: 0.5rem 0 0 1rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.signin form input {
    margin-left: 10px;
    height: 30px;
    width: 360px;
    padding: 0.7rem;
    border-radius: 0.35rem;
    font-family: "Roboto", sans-serif;
}

.signin form span {
    text-decoration: underline;
}

.signin .submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 400px;
}

.signin .submit-button button {
    width: 360px;
    height: 30px;
    margin: 0px 10px;
    background-color: green;
    color: white;
    text-transform: capitalize;
    border-radius: 0.3rem;
}

.signin .submit-button a {
    text-decoration: none;
    margin: 0px 3px;
    background-color: #fbfcffa1;
}

.signin .submit-button a:hover {
    text-decoration: underline;
}


/* ----dark-mode---- */

.dark-signin {
    background-color: black;
}

.dark-signin form {
    background-color: #8d99ae;
}

.dark-signin form label {
    background-color: #8d99ae;
    color: #f2f3f4;
}

.dark-signin .submit-button {
    background-color: #8d99ae;
}

.dark-signin .submit-button p {
    background-color: #8d99ae;
}

.dark-signin .submit-button a {
    color: rgba(0, 0, 255, 0.597);
    background-color: #8d99ae;
}