/* ----navbar---- */

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.navbar .logo {
    text-transform: capitalize;
}

.navbar .logo h1 {
    color: green;
    font-size: 32px;
}

.navbar a {
    text-decoration: none;
}

.navbar .logo {
    width: 70vw;
    padding-left: 20px;
}

.navbar .links {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}


/* ----dark-mode---- */

.dark-navbar {
    background-color: #0a0908;
}

.dark-navbar>* {
    background-color: #0a0908;
}

.dark-navbar .logo h1 {
    background-color: #0a0908;
    color: white;
}

.dark-navbar .links {
    background-color: #0a0908;
}

.dark-navbar .links h3 {
    background-color: #0a0908;
    color: #fcfcff;
}

.dark-navbar .links .dark {
    background-color: #0a0908;
    color: white;
}