/* ----navbar---- */

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.navbar {
    text-transform: uppercase;
}

.navbar h1 {
    color: green;
}

.navbar a {
    text-decoration: none;
}

.navbar .logo {
    width: 70vw;
    padding-left: 20px;
}

.navbar .links {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}