/* profile */

.profile {
    --light-color: #black;
    --dark-color: #f3f3f4;
    --dark-background-color: #0a0809;
    --activity-color: #
}

.profile {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.profile .activity{
    background-color: var(--dark-background-color);

}