/* ----createaccount---- */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.create-account {
    height: calc(100vh - 50px);
    width: 100vw;
    position: absolute;
}

.create-account h1 {
    font-size: 1.5rem;
    margin-left: 30px;
}

.create-account h3 {
    margin-left: 30px;
}

.create-account .form-container {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0px;
}

.create-account form {
    background-color: #a8dadc;
    color: #1d3557;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    height: 330px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3) 1fr;
    grid-template-columns: auto;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
}

.create-account form label {
    font-family: "Roboto", sans-serif;
    background-color: #a8dadc;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

.create-account form input {
    font-family: "Roboto", sans-serif;
    height: 35px;
    width: 365px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

.create-account form input:focus {
    border: 2px solid #1d3557;
}

.create-account .sign-in {
    background-color: #a8dadc;
    height: 50px;
    width: inherit;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 0px 20px;
    padding: 10px;
}

.create-account .sign-in h4,
a {
    background-color: #a8dadc;
}

.create-account a {
    text-decoration: none;
}

.create-account a:focus {
    text-decoration: underline;
}

.create-account .sign-in span {
    background-color: #a8dadc;
    margin: 5px;
    text-decoration: underline;
    color: #1d3557;
}

.create-account .sign-in .submit-button {
    font-family: "Roboto", sans-serif;
    width: 75px;
    height: 30px;
    background-color: green;
    border-radius: 00.5rem;
}

.create-account .sign-in .submit-button p {
    background-color: green;
    font-weight: 700;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}


/* ----dark themes---- */

.dark-create-account {
    background-color: #0a0908;
}

.dark-create-account h1 {
    background-color: #0a0908;
    color: white;
}

.dark-create-account h3 {
    background-color: #0a0908;
    color: white;
}

.dark-create-account .form-container {
    background-color: #0a0908;
}

.dark-create-account .form-container form {
    background-color: #0a0908;
    border: 2px solid #f3f2f4;
}

.dark-create-account .form-container form label {
    background-color: #0a0908;
    color: #f3f2f4;
}

.dark-create-account form input {
    background-color: #0a0908;
    color: #f3f2f4;
}

.dark-create-account form input:focus {
    border: 2px solid #f3f2f4;
}

.dark-create-account .sign-in {
    background-color: #0a0908;
}

.dark-create-account .sign-in h4 {
    background-color: #0a0908;
    color: #f3f2f4;
}

.dark-create-account .sign-in a {
    background-color: #0a0908;
    color: rgba(0, 0, 255, 0.677);
}

.dark-create-account a {
    text-decoration: none;
}

.dark-create-account a:focus {
    text-decoration: underline;
}

.dark-create-account .sign-in span {
    background-color: #0a0908;
}