/* ----sigiin---- */

.signin {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.signin form {
    display: grid;
    grid-template-rows: repeat(3) 300px;
    grid-auto-columns: auto;
    width: 400px;
    height: 180px;
    border: 2.5px solid red;
    border-radius: 3px;
}

.signin form input {
    margin: 10px;
    height: 30px;
    width: 350px;
}

.signin form span {
    text-decoration: underline;
}

.signin .submit-button {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 60px;
    width: 400px;
}

.signin .submit-button :nth-child(1) .signin .submit-button :nth-child(2) {
    padding: 10px;
}

.signin .submit-button {
    margin: 10px;
    font-size: 10px;
}

.signin .submit-button button {
    width: 350px;
    height: 30px;
    background-color: green;
    color: white;
    text-transform: capitalize;
}

.signin .submit-button span {
    margin: 5px;
    text-decoration: underline;
}


/* ----dark-mode---- */

.dark-signin {
    background-color: black;
}